<h3>评价</h3>
<fieldset>

      <% @comments.each do |msg| %>
          <div class="user"><%=image_tag msg.user.avatar.thumb.url %><br/><%= msg.user.name %>
            <div class="undisplay pop_out"><div><%=image_tag msg.user.avatar.thumb.url %><%=msg.user.name %></div>
             <div> <%=link_to "发送短信",new_messenger_path, :receiver_id=>@msg.user.id %> <%=link_to "加为朋友",'#'%> </div>
            </div>
           </div>
          <div class="comments" > <%=msg.content %></div>
          <div class="time"><%= msg.comment_time %></div><div >
            <% msg.replies.each do |f| %>
                <div class="reply"><%= f.message %></div>
            <% end  %>

            </div>
          <%= link_to "回复",'#' %>
      <%end%>

   <%=will_paginate @comments,:previous_label=>'前页',:next_label=>'下页' %>
</fieldset>
