<%=content_tag :div, id: mobile_page_id, data: {role: 'page',dialog: true} do %>
	<%=content_tag :div, data:{role:'header'} do %>
		<h2>回帖</h2>
	<% end %>
	<%=content_tag :div, data:{role:'content'} do %>
		<%= form_for(@comment,:remote=>true) do |f| %>
		    <div class='validation-error'></div>
			<div class="field">
			
        <%=f.hidden_field :commentable_id %>
        <%=f.hidden_field :commentable_type%>
				<%= f.text_area :comment,:id=>'comment_editor' %>
		    </div>
		    <div class="actions">
		      <%= f.submit "提交" %>
		    </div>
		<% end %>
	<% end %>
<% end %>