<div data-role='navbar'>
    <ul >
		<li> <%=link_to '英语',category_lesson_path(2) %></li>
		<li> <%=link_to '法语',category_lesson_path(4) %></li>
		<li> <%=link_to '普通托管班',category_lesson_path(24)%></li>
		<li> <%=link_to '游泳',category_lesson_path(17)%></li>
		<li> <%=link_to '所有分类','#category_list'%></li>
	</ul>
</div>