<div class='float_left'>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in" %></div>
<% end %>

<%= render "users/shared/links" %>
</div>
<div class="list">
  <ul>
  <li><%=link_to image_tag("google_login.png"), '/users/auth/google_oauth2' %> </li>
  <li><%=link_to image_tag("QQ_login.png"),'/users/auth/qq_connect' %>  </li>
  <li><%=link_to image_tag("weibo_login.png",:width=>230),'/users/auth/weibo'  %> </li>
  </ul>
</div>