<%= nested_form_for @timetable,:class=>'timetable' do |f| %>
  <% if @timetable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@timetable.errors.count, "error") %> prohibited this timetable from being saved:</h2>

      <ul>
      <% @timetable.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :creator_id,:value=>current_user.id %>
    <%= f.hidden_field :lesson_id %>
    课程名称：<span id='title'><%=@timetable.lesson_name %></span>
  </div>
  <div class="field">
    <%= f.label :title,'标题' %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description,'课表介绍' %><br />
    <%= f.text_area :description %>
  </div>


 <div >
   <h3>上课时间：</h3>
   <fieldset>
   <div id="class_times">
     <%=f.fields_for :class_times %>
   </div>
   </fieldset>
   <div>
     <%=f.link_to_add '添加新上课时间', :class_times,:data=>{:target=>'#class_times'}%>
   </div>
 </div>
  <div class="actions">
    <%= f.submit '提交' %>
  </div>
<% end %>

