<%= form_for [:lesson,@timetable] do |f| %>
  <% if @timetable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@timetable.errors.count, "error") %> prohibited this timetable from being saved:</h2>

      <ul>
      <% @timetable.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :creator_id,:value=>current_user.id %>
    <%= f.hidden_field :lesson_id %>
    课程名称：<%=@timetable.lesson.name %>
  </div>
  <div class="field">
    <%= f.label :title,'标题' %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description,'介绍' %><br />
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :start_day,'开始日期' %><br />
    <%= f.text_field :start_day,:class=>'date_picker' %>
  </div>
  <div class="field">
    <%= f.label :end_day,"结束日期" %><br />
    <%= f.text_field :end_day,:class=>'date_picker' %>
  </div>
 <div >
   <h3>上课时间：</h3>
   <fieldset>
   <div id="class_times">
     <%=render :partial=>'class_time',:collection=> @timetable.class_times %>
   </div>
   </fieldset>
   <div>
     <%=link_to '添加新上课时间','#',:id=>'add_new_class_time'%>
   </div>
 </div>
  <div class="actions">
    <%= f.submit '提交' %>
  </div>
<% end %>
<div id=new_class_time class="undisplay" >
  <%=render :partial=>"class_time",object: ClassTime.new%>
</div>
