<p id="notice"><%= notice %></p>



<p>

  <h1><%= @timetable.title %></h1>
</p>





<p>
  <b>创建人:</b><%=@timetable.creator.nickname %><br/>
  <b>创建时间:</b>
  <%= format_time(@timetable.create_time) %>
</p>
<% events=[] %>
<% @timetable.class_times.each do |event| %>
 <% events.concat event.events %>
<% end %>
<%=content_tag :div,id: 'calendar', data: {events: events} do  %><% end %>
<p>
  <b>课表介绍:</b>
  <%= @timetable.description %>

<p>

<%= link_to '返回', lesson_timetables_path(@timetable.lesson) %>
