<p id="notice"><%= notice %></p>



<p>
  <b>Title:</b>
  <%= @timetable.title %>
</p>

<p>
  <b>Description:</b>
  <%= @timetable.description %>


<p>
  <b>Lesson:</b>
  <%= @timetable.lesson.name %>
</p>

<p>
  <b>Start day:</b>
  <%= @timetable.start_day %>
</p>

<p>
  <b>End day:</b>
  <%= @timetable.end_day %>
</p>

<p>
  <b>Create time:</b>
  <%= @timetable.create_time %>
</p>

<% @timetable.class_times.each do |event| %>

<% end %>

<%= link_to 'Back', :back %>
