<%=content_tag :div, id: mobile_page_id, data: {role: 'page'} do %>	
  <%=render 'shares/header'%>
  <%=content_tag :div, data: {role: 'content'} do %>
		<ul data-role='listview',data-inset='true' class='lists_phone'>
      <li data-role='list-divider'>课吧列表</li>
		  <%=render 'list_group'%>
		</ul>
	

	<div id="paginate_area">
		<%=will_paginate @groups,:prev_label=>'上一页',:next_label=>'下一页'%>
	</div>
   <%=render 'shares/footer'%>
  <% end%>
 
<% end %>