<div id="user_bar" class="float_left">
  <div><%=image_tag @user.avatar_url %>   </div>
  <div>姓名：<%=@user.name %></div>
  <div>注册时间:<%=format_time(@user.registration_date) %></div>
  <div>积分:<%=@user.score %></div>
</div>
<div id='user_main' class=' float_right'>
  <%=render 'my_profile' %>
</div>