<div id="user_bar" class="float_left">
  <h1><%=current_user.name %> </h1>
  <div><%=image_tag current_user.avatar_url.to_s,:width=>150,:height=>150 %>  </div>
  <div>
    <div>注册时间:<%=format_time(current_user.registration_date) %></div>
    <div>积分:<%=current_user.points %></div>
  </div>
  <div><%=link_to "修改个人信息", edit_user_registration_path(current_user) %> </div>

</div>
 <div id="user_main" class="float_right">
<div id='mytabs'>
  <ul>
    <li><a href="#calendar_events">日程表</a></li>
    
    <li><a href="#friends">我的朋友</a></li>
    <li><a href="#my_friends">朋友动态</a></li>
    <li><a href="#groups">我的课吧</a></li>
    <li><a href="#registered_class">我的课表</a></li>
    <li><a href='#messenger'>短信<% if @user.has_new_message? %><span class='tip'>新</span><% end %></a></li>
    <li><a href="#myfront">课程查找</a></li>
  </ul>
<div id="myfront">

    <div id='side_menu' class="float_right">
      <%=render 'lessons/category_list'%>
    </div>
    <div>
        <b>推荐课程</b>
        <%=render :partial=>"/lessons/lessons_list", :locals=>{:lessons=>Recommendation.get_list('F1',get_city).collect{|rec| rec.lesson}} %>
    </div>
    <div>
      <b>最佳课程</b>
      <%=render :partial=>"/lessons/lessons_list",:locals=>{:lessons=>Lesson.local_lessons(get_city).order("rank desc").limit(10)} %>
    </div>
    <div>
      <b>最热课程</b>
      <%=render :partial=>"/lessons/lessons_list", :locals=>{:lessons=>Lesson.local_lessons(get_city).order("rank_counter desc").limit(10)} %>
    </div>
  </div>
<div id='my_friends'>
<%@user.friends_recent_posts.each do |post| %>
  <div><%=image_tag post.poster.avatar_url.to_s %><%=post.poster.name %></div>
  <div> <%=link_to post.title,group_path(post.group) %>   <%=format_time(post.posted_time) %></div>
 <% end %>


<%@user.friends_recent_comments.each do |comment| %>
  <div> 
    <div> <%=image_tag comment.user.avatar_url.to_s %> <%=comment.user.name %></div>
    <%=comment.comment %><%=format_time(comment.comment_time)%>
  </div>
<% end %>
</div>
<div id="friends"> <%=render :partial=>"friends",:locals=>{:user=>@user} %></div>


 
<div id="groups">
  <div id='joined_groups'>
    <%@user.members.each do |g| %>
      <div> 
        <%=image_tag(g.group.logo_url.to_s,:class=>'logo')%>
        <%=link_to g.group.title,group_path(g.group) %>
        <%='待批准' if g.status=='pending'%>
      </div>
    <% end %>
  </div>
</div>
  <div id="registered_class">
    <ul>
      <% @user.timetables.each do |timetable| %>
        <li>
          <%=timetable.lesson.title %>
          <%=timetable.title %>
          <%=timetable.creator.nickname %>
          <%=link_to '详情',timetable_path(timetable) %>
          <%=link_to '删除',withdraw_user_timetable_path(timetable),method: :delete,data: {:confirm=>'你确定要取消该课表吗？'} %>
        </li>

      <% end %>
    </ul>
  </div>

  <div id="messenger">
     <%=render :partial=>"message_groups" ,:locals=>{:message_groups=>@user.message_groups}%>

  </div>
  <%=content_tag :div, id: 'calendar_events',data: { events: @user.my_events} do %> <%end %>

  </div>

</div>
