<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @my_lesson.title %>
</p>

<p>
  <b>Price:</b>
  <%= @my_lesson.price %>
</p>

<p>
  <b>Age range:</b>
  <%= @my_lesson.age_range %>
</p>

<p>
  <b>Special:</b>
  <%= @my_lesson.special %>
</p>

<p>
  <b>Free try:</b>
  <%= @my_lesson.free_try %>
</p>

<p>
  <b>Company:</b>
  <%= @my_lesson.company %>
</p>

<p>
  <b>Address:</b>
  <%= @my_lesson.address %>
</p>

<p>
  <b>Description:</b>
  <%= @my_lesson.description %>
</p>

<p>
  <b>Website:</b>
  <%= @my_lesson.website %>
</p>

<p>
  <b>Phone:</b>
  <%= @my_lesson.phone %>
</p>

<p>
  <b>Create time:</b>
  <%= @my_lesson.create_time %>
</p>

<p>
  <b>Creator:</b>
  <%= @my_lesson.creator_id %>
</p>

<p>
  <b>Status:</b>
  <%= @my_lesson.status %>
</p>


<%= link_to 'Edit', edit_my_lesson_path(@my_lesson) %> |
<%= link_to 'Back', my_lessons_path %>
