<div class=my_branch>

  <%= fields_for "company[branches_attributes][]",branch do |br|   %>
      <div class="branch">
        <%=br.hidden_field :id if branch.id %>
        <div class="field">
          <%=br.label :name,"分支名称"%><br/>
          <%=br.text_field :name %>
        </div>
        <div class='field'>
          <%=br.label :phone,"电话"%> <br/>
          <%=br.text_field :phone %>
        </div>
        <div class='field'>
          <%=br.label :website, "分支网址"%><br/>
          <%=br.text_field :website %>
        </div>
        <div class='field'>
          地址：<%=br.select :province_id,options_for_select(Location.roots.collect {|p| [p.name,p.id]}) %> 省
          <%=br.select :city_id,options_for_select(Location.first_cities.collect{|p| [p.name,p.id]})  %> 市
          <%=br.collection_select :district_id,Location.first_districts,:id,:name %> 区/县 <%=br.text_field :street %>
        </div>
        <div class='field'>
          地理坐标：<br/>
          经度：<%=br.text_field :geolng,:class=>'positionx' %>  <br/>
          纬度:<%=br.text_field :geolat,:class=>'positiony' %>
        </div>

       <% if branch.geolng %>
      <%=tag "div",{:class=>"mymap set_point",:id=>"mymap#{rand(1000)}"},true%><%=tag "/div",nil,true%>
          <% end %></div>
  <% end %>
  <%=link_to "移走","#",:class=>'remove_branch' unless branch.persisted? %>   <%=link_to "删除", [:admin,branch],method: :delete, data: {confirm: "你确定要删除该分支吗？"},:class=>'delete_branch',:remote=>true if branch.persisted? %>
</div>