<%= nested_form_for([:admin,@company]) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name,'名称' %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :website,"网址" %><br />
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :tags,"标签" %><br />
    <%= f.text_field :tags %>
  </div>
  <div class="field">
    <%= f.label :description,"教育机构简介" %><br />
    <%= f.kindeditor :description %>
  </div>
  <div id='branches'>
    <%=f.fields_for :branches %>
  </div>

  <%=f.link_to_add "新增分支",:branches%>
  <div class="actions">
    <%= f.submit "提交" %>
  </div>

<% end %>
