<div >
  机构详情&nbsp;<%=link_to '编辑', edit_company_path(@company) %> &nbsp; <%=link_to '历史',history_company_path(@company)%>
</div>
<div>
  <div>
  <p>
    <b>名称:</b>
    <%= @company.name %> &nbsp;  
    <%=link_to '添加课程',course_lessons_path(:company_id=>@company.id) %>
  </p>

<p>
  <b>网址:</b>
  <%= @company.website %>
</p>

<p>
  <b>标签:</b>
  <%= @company.tags %>
</p>

<p>
  <b>公司简介:</b>
  <%= raw(@company.description) %>
</p>
</div>

 
<div>
  <b>地点</b> <br/>

  <% n=rand(10000) %>
  <%@company.branches.each do |branch| %>

      <fieldset>
        
          <div class='branch_message'>
            <p><b>名称</b><%=branch.name%></p>
            <p><b>电话</b><%=branch.phone%></p>
            <p><b>地址</b><%=branch.address %></p>
            <p><b>分支网址</b><%=branch.website%></p>
             <div>
                <% branch.lessons.each do |lesson|%>
                  <div>   课程名称：<%=lesson.title %> 
                          总分：<%=lesson.rank %> 
                          <%=link_to '详细',lesson_path(lesson)%>
                  </div>

                <% end %>
             </div>
          </div>
           <%= tag "div",{:id=>"mymap#{n}", :class=>"course_map small_map float_right ",:data=>{:positionx=>branch.geolng,:positiony=>branch.geolat}},true  %>  <%=tag "/div","",true %>
        
         

        </fieldset>
      <% n+=1 %>
  <% end %>
  </div>




  <%= link_to '返回', companies_path %>
</div>