 <div class='field'>
    <%= f.label :title,"课程名称:" %>  
    <%= f.text_field :title %>   
  </div>
  <div class='field'>
     <%= f.label :category_id,"类别:" %> 
     <% f.object.category=Category.roots.first if f.object.category.nil?%>
     <span id="select_category"> 
        <%= render :partial=>"categories/course_select",:locals=>{:cur=>f.object.category.get_tree,:f=>f} %>
      </span>
  </div>
   <div class='field'>
    <%= f.label :price,"价格:" %>  
    <%= f.text_field :price %> 
  </div>
  <div class='field'>
    <%= f.label :age_range,"适合年龄:" %>
    <%= f.select :age_range, options_for_select(Course::AGE_RANGE.collect {|v| [v,Course::AGE_RANGE.index(v)]}) %> 
  </div>
   <div class='field'>
    <%=f.label :special, '特色'%>
    <%=f.text_field :special %>  
    <div>
    <%=f.fields_for :features do |fa| %>
      <div class='field'>
        <%=fa.label :title,'标题' %>
        <%=fa.text_field :title %>
        <%=fa.label :content,'内容' %>
        <%=fa.text_field :content %>
        <%=fa.link_to_remove '删除' %>
        </div>
    <% end %>
    <%=f.link_to_add '增加特点',:features %>
  </div>

  </div>
  <div class='field'>
    <%=f.label :free_try, "试听" %>
    <%=f.select :free_try,[['无',false],['有',true]] %>
  </div>
  <div class='field'>
    <%= f.label :website,'课程网址:' %>
    <%= f.text_field :website %>
  </div>
  <div class='field'>
    <%= f.label :tags,'标签:' %>   
    <%= f.text_field :tags %> 
  </div>
  <div class='field'>
    <%= f.label :description,"课程描述" %> <br/>
    <%= f.kindeditor :description %> 
  </div>
   <p><b>选择课程所在的分支/校区</b></p>
    <fieldset>
      <% f.object.company.branches.each do |branch| %>
       <%=f.fields_for :branches do |br|%>
          <%=branch.name %>
          <%=check_box_tag 'course[branches][]',branch.id, true  %>
          <% end %>
      <%end %>
    </fieldset>
     
    
