        <div class='subtitle'>
            <p><b><%= lesson.version.nil? ? lesson.previous_version.version.created_at.localtime.strftime('%Y-%m-%d %H:%M:%S') : lesson.version.previous.created_at.localtime.strftime('%Y-%m-%d %H:%M:%S') %>的版本</b></p>
            <p>
                <% unless lesson.originator.nil? %>
                    <%=link_to whodoit(lesson.originator).try(:name),profile_user_path(whodoit(lesson.originator)) %>
                    <%=link_to '讨论','#',:remote=>true,:data=>{:users=>[lesson.originator]}%>
                    <%=link_to '修改', undo_lesson_path(@lesson,:version_id=>lesson.version.try(:id))  %>
                <% end %>
           </p>
       </div>
    <div class='course_part'>
        <div class='title'><b><%=lesson.title %></b></div>
        <div class='category'>课程类别： <%=lesson.category.name %> </div>
        <div class='price'>价格: <%=lesson.price %>    </div>
        <div class='age_range'>适合年龄: <%=lesson.age_range %> </div>
        <div class='free_try'>试听:<%=lesson.free_try? ? '有': '无'%> </div>
        <div class='special'>特色：<%=lesson.special %>  </div>
        <div class='website'>网址：<%=link_to lesson.website,url_with_protocol(lesson.website),:target=>'_blank' %> </div>
        <div class='course_tags'>标签： <%=lesson.tags %> </div>
    </div>
    <div> 教育机构：
            <%=link_to lesson.company.name,url_with_protocol(company_path(lesson.company)),:target=>'_blank' %>
    </div>
   
         
        <div >课程详情</div>
        <div class='description'  >
            <%=raw(lesson.description)%>
        </div>
    