<div id='category_filter'>
  <%=form_tag  do %>
    <%=submit_tag "确定",data:{role:'none'} %>区域：
    <% Location.find(get_city).children.order('id').each do |dist|%>
        <%=check_box_tag 'district[]',dist.id, @district.include?(dist.id.to_s),data:{role:'none'}%>  
        <%=dist.name%>
    <%end%>
  <%end%>
</div>
<div id='lessions_list'><%=render :partial=>"lessons_list",:locals=>{:lessons=>@lessons} %>  </div>
<div><%=link_to '新建课程',company_lessons_path   %></div>
<div id="paginate_area"> 
  <%=will_paginate @lessons, :controller=>'lessons',:action=>'category',:params=>{district: @district},:previous_label=>'前页',:next_label=>'下页'%>
</div>