<div id='bar'></div>
<div id='main_page'>
  <div id='adv_category'><%=image_tag "/assets/image02.jpg"%></div>
  <div class="float_left">
    <div id='side_menu'>
      <%=render "category_list" %>
      <%=render 'district_list'%>
    </div>
  </div>
  <div id='main_content' class="float_right">
    <div id='category_filter'>
      <%=form_tag do %>
          <%=submit_tag "确定" %>类别：
          <% Category.roots.order('id').each do |category|%>
            <div> <%=category.name %>:
              <% category.children.order("id").each do |item|%>
              <%=check_box_tag 'category[]',item.id, @category.include?(item.id.to_s)%>  <%=item.name%>
                  <%end %>
            </div>
          <%end%>
    <%end%>
    </div>
    <div><%=render :partial=>"lessons_list",:locals=>{:lessons=>@lessons} %>  </div>
    <div><%=link_to '新建课程',company_lessons_path  %></div>
    <div id="paginate_area"> <%= will_paginate @lessons,:controller=>'lessons',:action=>'location',:previous_label=>'前页',:next_label=>'下页'%>   </div>
  </div>
</div>