
<%=render :partial=>'/groups/head',:locals=>{:group=>@post.group}%>
<div id="main_content">
  <div id="post_title">
    <%= @post.title %>
  </div>
  <div id="post_comments_list">
    <ul class='comment_item'>
      <li class="user">
       <%=render :partial=>'/users/post_user',:locals=>{:user=>@post.poster}%>
      </li>
      <li class="comment">
        <div class='comment_content'>
          <%=raw(@post.content)%>
        </div>
        <div class="time move_right"><%= format_time(@post.posted_time) %></div>
        <div class='comment_commands move_right' >
          <%=link_to '编辑','#',:id=>'edit_post','data-id'=>@post.id,:remote=>true if @post.poster==current_user %>
        </div>
       
      </li>
    </ul>
     <%=content_tag :div,id: 'comment_list',data: {id: @post.id,type: @post.class.name.downcase.pluralize} do %> 
     <% end %>  
  </div>
    <%=render :partial=>'/comments/comment_area',:locals=>{:commentable=>@post}%>
    

    <%= link_to '返回', group_path(@post.group) %>
</div>
