<table width="772" border="1">
  <tr>
    <th width="14" scope="col">&nbsp;</th>
    <th width="186" scope="col">课程名称</th>
    <th width="296" scope="col">学校</th>
    <th width="41" scope="col">评分</th>
    <th width="93" scope="col">价格</th>
    <th width="31" scope="col">学校试听</th>
    <th width="65" scope="col">地址</th>
  </tr>
  <% lessons.each do |course| %>
      <% i=1 %> <tr>
  <td><%= i %>1</td>
  <td><%= link_to display_string(course.title,23),lesson_path(course) %></td>
  <td><%=  display_string(course.company_name,23) %></td>
  <td><%= course.rank %></td>
  <td><%= course.comments_count %></td>
  <td><%= course.free_try ? '有' : '无' %></td>
  <td><%=course.address %></td>
  <% i+=1 %> </tr>
  <% end %>
</table>