<%= form_for(@messenger) do |f| %>
  <% if @messenger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@messenger.errors.count, "error") %> prohibited this messenger from being saved:</h2>

      <ul>
      <% @messenger.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sender_id %><br />
    <%= f.number_field :sender_id %>
  </div>
  <div class="field">
    <%= f.label :receiver_id %><br />
    <%= f.number_field :receiver_id %>
  </div>
  <div class="field">
    <%= f.label :message %><br />
    <%= f.text_field :message %>
  </div>
  <div class="field">
    <%= f.label :read_status %><br />
    <%= f.check_box :read_status %>
  </div>
  <div class="field">
    <%= f.label :create_time %><br />
    <%= f.datetime_select :create_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
