<div class="list">
  <% @places.each do |place| %>
  <ul class='list_item'>
    <li class='float_left cell_detail'>
      <ul>
        <li><strong><%= link_to place.title,place_path(place) %></strong></li>
        <li>地址:<%=place.address %></li>
        <li>电话:<%=place.phone %></li>
        <li>标签:<%=place.tag_list %></li>
        <li>开放时间:<%=place.opening_hours %></li>
      </ul>
    </li>
    <li class='float_left cell_price'>
      <%=place.price %>
    </li>
    <li class='float_left cell_rank'>
      <ul>
        <li>推荐指数：<%=place.rank %></li>
        <li>共有<%=place.rank_count %>人推荐</li>
      </ul>
    </li>
    <div class='noad'></div>
   </ul>
  <% end %>
 </div>






<%= link_to '新建地点', new_place_path %>
