<%=content_tag :div,id: mobile_page_id,data: {role: 'page'} do %>
  <%=render 'shares/header'%>
  <%=content_tag :div, data: {role: 'content'} do %>
    <ul data-role='listview' class='lists_phone'>
       <%=render 'list_items'%>      
    </ul>
    <div id="paginate_area"> 
      <%=will_paginate @places,:previous_label=>'前页',:next_label=>'下页'%>
    </div>
  
  <%=render 'shares/footer'%>
  <% end %>
<% end %>