<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta property="qc:admins" content="24200654116553356375" />
  
  <meta property="wb:webmaster" content="022784f4609d9c49" />
  <title>优异思库－身边的教育顾问</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "http://webapi.amap.com/maps?v=1.2&key=b526ef9070db4498ec9a6971ba097ae0"  %>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
<div id='wrap'>
  <div >
    <div id="top_head">
      <div id="top_text">
        欢迎来到优异思库!  <%=link_to '关于我们',"#"%>|<%=link_to "网站地图",'#'%>&nbsp &nbsp
      </div>
    </div>
    <div id="head">
      <img src="/assets/logo.png" alt="my logo" name="logo"  id="logo" />
      <span id='city'><%=get_city_name %><%= link_to '<变更>',locations_path %>
      </span>
      <span id="login_area">
        <% if current_user.nil? %>
          <%=link_to '登录',new_user_session_path  %>|
          <%=link_to '注册',new_user_registration_path %>
        <% else %>
          <%= "欢迎#{current_user.name}" %>|
          <%=link_to "退出",destroy_user_session_path,:method=>:delete,:id=>'logout' %>
        <% end %>
      </span>
    </div>
    <div id='menu_bar'>
      <ul class='menu'>
        <li>
          <a href="/" class="parent"><span>首页</span></a>
        </li><li>
        <a href="/lessons" class="parent"><span>课程</span></a>
      </li><li>
        <a href="/companies" class="parent"><span>教育机构</span></a>
      </li><li>
        <a href="/groups" class="parent"><span>社区</span></a>
      </li>
     <li><a href="/places" class="parent"><span>携子同游</span></a></li>
      </ul><div id="query_box"> <%=text_field_tag 'query'%><%=link_to '检索','#'%></div>
    </div>
  </div>
  <div id="main">
    <div id="content"><%=yield %></div>
  </div>
  <div id="foot">
    <div id="foot_content"><div id="foot_text">联系我们｜关于我们｜法律声明</div> <div id="company">北京创金信科技有限公司&nbsp版权所有:Copyright ©2013-2014</div></div>
  </div>
</div>

</body>
</html>
