<!DOCTYPE html>
<html>
<head>
  <title>Uesku administor</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "http://app.mapabc.com/apis?t=javascriptmap&v=3.1.1&key=745b3039445e27aae9b05b5b95df629cf9df111deee86b7c099376fa06a97ecdaa346e54f2d5cb07"  %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrap">
  <div id="head">
        <div class='sign_out'>
            欢迎 <%=current_admin.name %><%=link_to '退出',destroy_admin_session_path,:method=> :delete %>
        </div>
  </div>
  <div id='manage_menu'>
     <%  if current_admin.content_manager?%>
          <%=link_to '内容管理',admin_companies_path %><br/>
            <%=link_to '课程管理',admin_lessons_path %><br/>
      <% end %>
     <% if current_admin.category_manager? %>
        <%=link_to '分类管理',admin_categories_path %>  <br/>
        <%=link_to '地区管理',admin_locations_path %>  <br/>
     <% end %>
     <%=link_to '用户管理',admin_admins_path if current_admin.user_manager? %> <br/>

  </div>
  <div id="main">
     <div id='content'>
         <%=flash[:notice]%>
         <%=flash[:alert] %>
            <%= yield %>
     </div>
  </div>
</div>
</body>
</html>
