<!DOCTYPE html>
<html>
<head>
  <title>Uesku administor</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "http://webapi.amap.com/maps?v=1.2&key=b526ef9070db4498ec9a6971ba097ae0"  %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='desktop'>
<div id="wrap">
  <div id="head">
        <div class='sign_out'>
            欢迎 <%=current_admin.name %><%=link_to '退出',destroy_admin_session_path,:method=> :delete %>
        </div>
  </div>
  <div id='manage_menu'>
     <%  if current_admin.content_manager?%>
          <%=link_to '机构管理',admin_companies_path %><br/>
          <%=link_to '课程管理',admin_lessons_path %><br/>
      <% end %>
     <% if current_admin.category_manager? %>
        <%=link_to '分类管理',admin_categories_path %>  <br/>
        <%=link_to '地区管理',admin_locations_path %>  <br/>
     <% end %>
     <%=link_to '用户管理',admin_admins_path if current_admin.user_manager? %> <br/>

  </div>
  <div id="back_main" >
     <div id='content'>
         <%=flash[:notice]%>
         <%=flash[:alert] %>
            <%= yield %>
     </div>
  </div>
</div>
</body>
</html>
