<!DOCTYPE html >
<html>
<head>
  <meta charset=utf-8" />
  <meta property="qc:admins" content="24200654116553356375" />
  
  <meta property="wb:webmaster" content="022784f4609d9c49" />
  <title>优异思库－身边的教育顾问</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag "/jquery_mobile/jquery.mobile-1.4.3.min.css"%>
  <%= javascript_include_tag "http://webapi.amap.com/maps?v=1.3&key=b526ef9070db4498ec9a6971ba097ae0"  %>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "/jquery_mobile/jquery.mobile-1.4.3.min.js"%>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
  <%=yield %>
</body>
</html>
