<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>优异思库－身边的教育顾问</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "http://app.mapabc.com/apis?t=javascriptmap&v=3.1.1&key=745b3039445e27aae9b05b5b95df629cf9df111deee86b7c099376fa06a97ecdaa346e54f2d5cb07"  %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
<%=yield %>

</body>
</html>
